<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PickemTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PickemTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PickemTest.Properties.Settings>
            <setting name="tournamentPredictions" serializeAs="String">
                <value />
            </setting>
            <setting name="tournamentPickemPredictions" serializeAs="String">
                <value />
            </setting>
            <setting name="tournamentID" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="steamID" serializeAs="String">
                <value />
            </setting>
            <setting name="steamNameID" serializeAs="String">
                <value />
            </setting>
            <setting name="steamID64" serializeAs="String">
                <value />
            </setting>
            <setting name="authenticationCode" serializeAs="String">
                <value />
            </setting>
            <setting name="tournamentName" serializeAs="String">
                <value />
            </setting>
        </PickemTest.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PickemTest.Properties.Settings>
            <setting name="tournamentLayout" serializeAs="String">
                <value>https://api.steampowered.com/ICSGOTournaments_730/GetTournamentLayout/v1?key=XXXXX&amp;event=</value>
            </setting>
            <setting name="apiKey" serializeAs="String">
                <value>XXXXXX</value>
            </setting>
        </PickemTest.Properties.Settings>
    </applicationSettings>
</configuration>